<template>
 
  
   <main class="flex flex-col">
    <CategoryList :categories="categories"/>
    <ProductList :products="products"/>
  </main>


</template>


<script >
import HelloWorld from '../components/HelloWorld.vue';
import CategoryList from '../components/list/CategoryList.vue';
import ProductList from '../components/list/ProductList.vue';

export default {
  name: "App",
  components: {
    HelloWorld,
   ProductList,
   CategoryList
  },
  data() {
    return {
        products: [],
        categories: []
    };
  },
  mounted() {
    axios.get("https://vapara.mithril.re/products").then(res => {
        this.products = res.data;
        console.log(this.products)

      })
      .catch(error => {
        console.log(error)
         // Manage errors if found any
      })
      axios.get('https://vapara.mithril.re/categories').then(res => {
        this.categories = res.data;
        console.log(this.categories)

      })
      .catch(error => {
        console.log(error)
         // Manage errors if found any
      })
  }
};

</script>