<template>
    
   <main class="flex flex-col">
    <CategoryList :categories="categories"/>
    <ProductList :products="products"/>
    {{id_category}}
  </main>


</template>


<script >
import CategoryList from '../../components/list/CategoryList.vue';
import ProductList from '../../components/list/ProductList.vue';
export default {
  props:["id_category"],
  components:{
    CategoryList,
    ProductList
  },
  data(){
    return{
      products:[],
      categories:[]
    };
  }, beforeCreate(){axios.get(`https://vapara.mithril.re/categories/${this.id_category}/products`).then(response => {this.products = response.data; 
      console.log(this.products)}),
      axios.get('https://vapara.mithril.re/categories').then(response => {this.categories = response.data; 
      console.log(this.categories)})
  }
};

</script>

<style>

</style>